<div class="inner">
  <header class="major">
    <h2>Come and celebrate with us!</h2>
    <p>November 22 & 24 2019</p>
    <p>Fullerton Community Center<br/>
      <a target="_blank" href="https://www.google.com/maps/place/Fullerton+Community+Center/@33.8699837,-117.9305294,15z/data=!4m5!3m4!1s0x0:0x52eaad51262105a2!8m2!3d33.8699837!4d-117.9305294?hl=en">	340 W Commonwealth Ave<br/>
	Fullerton, CA 92832</p></a>

    <p> And </p>
    <p> Wilcox Manor<br/>
      Orange County, CA</p>

    <h3> Details to follow soon! </h3>
{% comment %}
	<p>12:00 - Thing at 12</p>
  <p>12:30 - Things at 12:30</p>
  <p>13:30 - Things at 13:30</p>

	<p><a target="_blank" href="https://calendar.google.com/event?action=TEMPLATE&tmeid=N3VyNTRrbGxxOHB1bDAxbzFiZ3NicGhwMGEgdml0dG9yaW8ubW9uYWNvMUBt&tmsrc=vittorio.monaco1%40gmail.com">Add to your calender on Google, for reals!</a></p>

    <p>Download this <a target="_blank" href="https://samsaidyes.com/app">Really this is app</a></p>
{% endcomment %}
  </header>
</div>
