<section class="spotlight">
  <div class="image">
    <img src="images/wedding_registry_2.jpg" alt="" />
  </div>
  <div class="inner content">
  <header class="major">
    <h3>Wedding registry</h3>
    <p><a target="_blank" href="http://tgt.gifts/genevievewedsanurag">Target.com</a></p>
  </header>
  </div>
</section>
{% comment %}
<div class="inner">
  <header class="major">
    <h3>Wedding registry</h3>
	<p><a target="_blank" href="http://tgt.gifts/genevievewedsanurag">Target.com</a></p>
  </header>
</div>
{% endcomment %}
